.client_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin: 45px;
    border-radius: 15px;
}

.client_section .box .img-box {
    margin-bottom: 15px;
    min-width: 145px;
    max-width: 145px;
    overflow: hidden;
}

.client_section .box .img-box img {
    width: 100%;
    border-radius: 100%;
    border: 7px solid rgba(255, 255, 255, 0.45);
}

.client_section .box .detail-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.client_section .box .detail-box .name img {
    width: 25px;
    margin-bottom: 5px;
}

.client_section .box .detail-box .name h6 {
    color: #62d2a2;
    font-size: 20px;
}

.client_section .carousel_btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
    position: unset;
    width: 45px;
    height: 45px;
    border: none;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
    background-color: blue;
    background-position: center;
    border-radius: 5px;
    margin: 0 2.5px;
}

.client_section .carousel-control-prev:hover,
.client_section .carousel-control-next:hover {
    background-color: #1fab89;
}

.client_section .carousel-control-next {
    left: initial;
}
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

body {
    font-family: 'Nunito', sans-serif;
    color: #000000;
    background-color: #fefefe;
    overflow-x: hidden;
}

.layout_padding {
    padding: 90px 0;
}


.layout_padding-bottom {
    padding-bottom: 90px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
.patient-image,
.doctor-image
 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}