{% extends "core/base.html" %}

{% block title %}
Enen
{% endblock %}

{% block bodytag %}

{% load static %}

<body background="{% static 'core/images/back.png' %}" style="background-size: auto auto;">

    {% endblock %}

    {% block body %}
    <br>

<div class="jumbotron jumbotron-fluid"
    style="margin-left:5%;margin-right:5%;background:rgba(0,0,0,0.6);color:white; overflow:hidden;">
    <div class="container">
        <img src="{% static 'core/images/me.jpg' %}" style="float:right; width:50%;">
        <h1>Address</h1>
        <p class="lead">CMC Bole, Addis Ababa, Ethipia</p>
        <br><br>
        <h1>Email</h1>
        <p class="lead">Suggestions and feedback are thoroughly welcomed.</p>
        <a class="btn btn-info" href="mailto:webmaster@example.com">Mail Me</a>
        <br><br>
        <h1>Contact Number</h1>
        <p class="lead">Please feel free to call me anytime.</p>
        <a class="btn btn-info" href="tel:0967241610">Contact Me</a>
        <br><br>
        <h1>Github</h1>
        <p class="lead">You can find me on Github.</p>
        <a class="btn btn-info" href="https://github.com/bekalue">Github</a>
        <br><br>
        <h1>Project Repo</h1>
        <p class="lead">You can find the project repo on Github.</p>
        <a class="btn btn-info" href="https://github.com/bekalue/Enen.git">Project Repo</a>
    </div>
</div>

{% endblock %}
